# Dependencies
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

test-reports

# Last-run template workflow flow mirror (written by backend)
.template-workflow-flow.json